# Project Part 2

## Part 2 
### Question 1
#### 1. How many users completed an exercise in their first month per monthly cohort?
##### Create and populate 'users' table and ‘exercises’ table

In [1]:
import sqlite3
def create_users_table():
    conn = sqlite3.connect('DB.db')
    crsr = conn.cursor() 
    crsr.execute("DROP TABLE IF EXISTS users")
    # SQL command to create a table in the database 
    sql_command = """CREATE TABLE users (  
    user_id INTEGER PRIMARY KEY,  
    created_at DATE);"""
    # execute the statement 
    crsr.execute(sql_command) 
    # SQL command to insert the data in the table 
    sql_command = """INSERT INTO users VALUES (1, "2020-01-02");"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO users VALUES (2, "2020-01-12");"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO users VALUES (3, "2020-01-28");"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO users VALUES (4, "2020-02-02");"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO users VALUES (5, "2020-03-02");"""
    crsr.execute(sql_command)
    sql_command = """INSERT INTO users VALUES (6, "2020-01-15");"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO users VALUES (7, "2020-02-10");"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO users VALUES (8, "2020-02-21");"""
    crsr.execute(sql_command) 
    # And this is the named style: 
    print("users_table data structure:")
    crsr.execute("select * from users") 
    # Fetches all entries from table 
    print(crsr.fetchall())
    # To save the changes in the files. Never skip this.  
    # If we skip this, nothing will be saved in the database. 
    conn.commit() 
    # close the connection 
    conn.close() 
    
def create_exercises_table():
    conn = sqlite3.connect('NeuroFlowDB.db')
    crsr = conn.cursor() 
    # SQL command to create a table in the database 
    crsr.execute("DROP TABLE IF EXISTS exercises")
    sql_command = """CREATE TABLE exercises (  
    exercise_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    exercise_completion_date DATE,
    FOREIGN KEY(user_id) REFERENCES users(user_id));"""
    # execute the statement 
    crsr.execute(sql_command) 
    # SQL command to insert the data in the table 
    crsr.execute("""INSERT INTO exercises VALUES (11, 1,"2020-01-22");""") 
    crsr.execute("""INSERT INTO exercises VALUES (12, 2,"2020-02-02");""") 
    crsr.execute("""INSERT INTO exercises VALUES (13, 3,"2020-02-15");""") 
    crsr.execute("""INSERT INTO exercises VALUES (14, 4,"2020-04-23");""") 
    crsr.execute("""INSERT INTO exercises VALUES (15, 5,"2020-03-31");""") 
    crsr.execute("""INSERT INTO exercises VALUES (16, 6,"2020-01-31");""") 
    crsr.execute("""INSERT INTO exercises VALUES (17, 7,"2020-02-20");""") 
    crsr.execute("""INSERT INTO exercises VALUES (18, 8,"2020-02-25");""") 
    # And this is the named style: 
    crsr.execute("select * from exercises") 
    # Fetches all entries from table 
    print("exercises_table data structure:")
    print(crsr.fetchall())
    # To save the changes in the files. Never skip this.  
    # If we skip this, nothing will be saved in the database. 
    conn.commit() 
    # close the connection 
    conn.close() 
create_users_table()
create_exercises_table()

users_table data structure:
[(1, '2020-01-02'), (2, '2020-01-12'), (3, '2020-01-28'), (4, '2020-02-02'), (5, '2020-03-02'), (6, '2020-01-15'), (7, '2020-02-10'), (8, '2020-02-21')]
exercises_table data structure:
[(11, 1, '2020-01-22'), (12, 2, '2020-02-02'), (13, 3, '2020-02-15'), (14, 4, '2020-04-23'), (15, 5, '2020-03-31'), (16, 6, '2020-01-31'), (17, 7, '2020-02-20'), (18, 8, '2020-02-25')]

##### determines the percentage of users that have a completed exercise in their first month for each monthly cohort

In [2]:
def query_user_completion():
    conn = sqlite3.connect('NeuroFlowDB.db')
    crsr = conn.cursor()
    sql = """
    SELECT totalTab.TMONTH, (resultTab.size*1.0/totalTab.totalsize)*100 AS "% Comm."\
    FROM (SELECT count(users.user_id) TOTALSIZE, \
    strftime('%m', date(created_at)) TMONTH \
    FROM users GROUP BY strftime('%m', date(created_at))) AS totalTab,\
    (SELECT count(users.user_id) SIZE, strftime('%m', date(exercise_completion_date)) RMONTH\
    FROM users INNER JOIN exercises ON users.user_id = exercises.user_id \
    WHERE strftime('%m', date(exercise_completion_date)) = strftime('%m', date(created_at))\
    GROUP BY strftime('%m', date(exercise_completion_date))) AS resultTab\
    WHERE totalTab.TMONTH = resultTab.RMONTH\
    GROUP BY totalTab.TMONTH;
    """
    crsr.execute(sql)
    myresult = crsr.fetchall()
    for x in myresult:
        print('The 2020/'+ x[0]+' cohort has '+ str(x[1])+'% of users completing an exercise in their first month.')
    # close the connection 
    conn.close() 
    # SQL command to create a table in the database 
query_user_completion()

The 2020/01 cohort has 50.0% of users completing an exercise in their first month.
The 2020/02 cohort has 66.66666666666666% of users completing an exercise in their first month.
The 2020/03 cohort has 100.0% of users completing an exercise in their first month.

### Question 2
#### 2. Which organizations have the most severe patient population?
##### Create and populate ‘Providers’ table and ‘Phq9’ table

In [3]:
def create_Providers_table():
    conn = sqlite3.connect('NeuroFlowDB.db')
    crsr = conn.cursor() 
    crsr.execute("DROP TABLE IF EXISTS Providers")
    # SQL command to create a table in the database 
    sql_command = """CREATE TABLE Providers (  
    provider_id INTEGER PRIMARY KEY,  
    organization_id INTEGER,
    organization_name VARCHAR(50));"""
    # execute the statement 
    crsr.execute(sql_command) 
    # SQL command to insert the data in the table 
    sql_command = """INSERT INTO Providers VALUES (1, 11, 'Org1');"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO Providers VALUES (2, 11, 'Org1');"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO Providers VALUES (3, 12, 'Org2');"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO Providers VALUES (4, 12, 'Org2');"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO Providers VALUES (5, 13, 'Org3');"""
    crsr.execute(sql_command)
    sql_command = """INSERT INTO Providers VALUES (6, 13, 'Org3');"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO Providers VALUES (7, 14, 'Org4');"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO Providers VALUES (8, 14, 'Org4');"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO Providers VALUES (9, 15, 'Org5');"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO Providers VALUES (10, 15, 'Org5');"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO Providers VALUES (11, 16, 'Org6');"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO Providers VALUES (12, 16, 'Org6');"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO Providers VALUES (13, 17, 'Org7');"""
    crsr.execute(sql_command)
    sql_command = """INSERT INTO Providers VALUES (14, 17, 'Org7');"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO Providers VALUES (15, 18, 'Org8');"""
    crsr.execute(sql_command) 
    sql_command = """INSERT INTO Providers VALUES (16, 18, 'Org8');"""
    crsr.execute(sql_command) 
    # And this is the named style: 
    print("Providers_table data structure:")
    crsr.execute("select * from Providers") 
    # Fetches all entries from table 
    print(crsr.fetchall())
    # To save the changes in the files. Never skip this.  
    # If we skip this, nothing will be saved in the database. 
    conn.commit() 
    # close the connection 
    conn.close() 
    
def create_Phq9_table():
    conn = sqlite3.connect('NeuroFlowDB.db')
    crsr = conn.cursor() 
    # SQL command to create a table in the database 
    crsr.execute("DROP TABLE IF EXISTS Phq9")
    sql_command = """CREATE TABLE Phq9 (  
    patient_id INTEGER PRIMARY KEY,
    provider_id INTEGER,
    score INTEGER,
    datetime_created DATE,
    FOREIGN KEY(provider_id) REFERENCES Providers(provider_id));"""
    # execute the statement 
    crsr.execute(sql_command) 
    # SQL command to insert the data in the table 
    crsr.execute("""INSERT INTO Phq9 VALUES (21, 1, 10,"2020-01-22");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (22, 2, 0,"2020-02-02");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (23, 3, 21,"2020-02-15");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (24, 4, 14,"2020-04-23");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (25, 5, 9,"2020-03-31");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (26, 6, 8, "2020-01-31");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (27, 7, 26,"2020-02-20");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (28, 8, 22, "2020-02-25");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (29, 9, 7,"2020-01-22");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (30, 10, 16,"2020-02-02");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (31, 11, 14,"2020-02-15");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (32, 12, 21,"2020-04-23");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (33, 13, 12,"2020-03-31");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (34, 14, 23, "2020-01-31");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (35, 15, 19,"2020-02-20");""") 
    crsr.execute("""INSERT INTO Phq9 VALUES (36, 16, 17, "2020-02-25");""") 
    # And this is the named style: 
    crsr.execute("select * from exercises") 
    # Fetches all entries from table 
    print("Phq9_table() data structure:")
    print(crsr.fetchall())
    # To save the changes in the files. Never skip this.  
    # If we skip this, nothing will be saved in the database. 
    conn.commit() 
    # close the connection 
    conn.close() 
create_Providers_table()
create_Phq9_table()

Providers_table data structure:
[(1, 11, 'Org1'), (2, 11, 'Org1'), (3, 12, 'Org2'), (4, 12, 'Org2'), (5, 13, 'Org3'), (6, 13, 'Org3'), (7, 14, 'Org4'), (8, 14, 'Org4'), (9, 15, 'Org5'), (10, 15, 'Org5'), (11, 16, 'Org6'), (12, 16, 'Org6'), (13, 17, 'Org7'), (14, 17, 'Org7'), (15, 18, 'Org8'), (16, 18, 'Org8')]
Phq9_table() data structure:
[(11, 1, '2020-01-22'), (12, 2, '2020-02-02'), (13, 3, '2020-02-15'), (14, 4, '2020-04-23'), (15, 5, '2020-03-31'), (16, 6, '2020-01-31'), (17, 7, '2020-02-20'), (18, 8, '2020-02-25')]

#### Write a single query that finds the top five organizations that have the highest average phq9 score per patient.

In [4]:
def query_patient_score():
    conn = sqlite3.connect('NeuroFlowDB.db')
    crsr = conn.cursor()
    sql = """
    SELECT organization_name, AVG(score) AVGSCORE,\
    CASE WHEN AVG(score) >= 20 THEN 'True' ELSE 'False' END AS IsSevere\
    FROM Providers INNER JOIN Phq9 ON Providers.provider_id = Phq9.provider_id\
    GROUP BY organization_id\
    ORDER BY AVGSCORE DESC\
    LIMIT 5;
    """
    crsr.execute(sql)
    myresult = crsr.fetchall()
    for x in range(len(myresult)):
        print('Top '+ str(x+1) +' organization that has the highest average phq9 score is: ' +  myresult[x][0]
              +' with: ' + str(myresult[x][1]) + ' score '+ ',its isSevere? status is: '+ myresult[x][2])
    # close the connection 
    conn.close() 
    # SQL command to create a table in the database 
query_patient_score()

Top 1 organization that has the highest average phq9 score is: Org4 with: 24.0 score ,its isSevere? status is: True
Top 2 organization that has the highest average phq9 score is: Org8 with: 18.0 score ,its isSevere? status is: False
Top 3 organization that has the highest average phq9 score is: Org2 with: 17.5 score ,its isSevere? status is: False
Top 4 organization that has the highest average phq9 score is: Org6 with: 17.5 score ,its isSevere? status is: False
Top 5 organization that has the highest average phq9 score is: Org7 with: 17.5 score ,its isSevere? status is: False